services:
  app:
    container_name: ddns-cloudflare
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      CLOUDFLARE_API_TOKEN: ${CLOUDFLARE_API_TOKEN}
      DDNS_ANAME: ${DDNS_ANAME}
      DDNS_ZONE: ${DDNS_ZONE}
    restart: unless-stopped
